<!DOCTYPE html>
<html class="<%= htmlClassName %>">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="/static/js/app.css">
	</head>
<body>
	
	<div id="app"><%- html %></div> 
	<script type="text/javascript">
	window.__INITIAL_DATA__ = <%- JSON.stringify(initialState)%>;
	</script>
	<script src="/static/js/vendor.js" type="text/javascript"></script>
	<script src="/static/js/app.js" type="text/javascript"></script>
</body>
</html>
